
*{
    
    
}


#cargando {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 188, 215);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  #cargando img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .row {
    color: rgb(255, 250, 243);
    background-color: #f44ca4;
    line-height: 30px;
  }

  .font small {
    font-size: 12px;
  }

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.titulo { 
 font-family: "LilitaOne", sans-serif;
 font-size: 100px;
}
/* Estilos de Carrousel */

  .carousel-inner {
    background-color: rgb(243, 181, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 55px;
    width: 96%;
    height: 200%;
}

.carousel-inner img {
    align-items: center;
    margin:  5px 5px ;
}

body {
    background-color:  rgb(226, 188, 215);
}

.footer {
  background-color: rgb(233, 212, 226);
  height: 100px;
}

.iconosfooter {
  display: flex;
  gap: 35px; 
 }
